In [1]:
import pandas as pd

# Raw Data Summary

In [2]:
top_repos_raw = pd.read_csv("../data/scraped/top-repos.csv", parse_dates=["created"])
user_data_raw = pd.read_csv("../data/scraped/user-data.csv", parse_dates=["created"])
top_user_repos_raw = pd.read_csv("../data/scraped/top-user-repos.csv", parse_dates=["created"])
top_org_repos_raw = pd.read_csv("../data/scraped/top-org-repos.csv", parse_dates=["created"])

In [3]:
top_repos_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2000 non-null   int64
 1   repo_name    2000 non-null   object
 2   full_name    2000 non-null   object
 3   description  1976 non-null   object
 4   created      2000 non-null   datetime64[ns]
 5   language     1709 non-null   object
 6   type         2000 non-null   object
 7   username     2000 non-null   object
 8   stars        2000 non-null   int64
 9   forks        2000 non-null   int64
 10  subscribers  2000 non-null   int64
 11  open_issues  2000 non-null   int64
 12  topics       2000 non-null   object
 13  subject      2000 non-null   object
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 218.9+ KB

In [4]:
user_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2000 non-null   int64
 1   username      2000 non-null   object
 2   name          1810 non-null   object
 3   type          2000 non-null   object
 4   bio           1318 non-null   object
 5   created       2000 non-null   datetime64[ns]
 6   company       723 non-null    object
 7   email         961 non-null    object
 8   location      1318 non-null   object
 9   hireable      383 non-null    object
 10  followers     2000 non-null   int64
 11  following     2000 non-null   int64
 12  public_gists  2000 non-null   int64
 13  public_repos  2000 non-null   int64
 14  subject       2000 non-null   object
dtypes: datetime64[ns](1), int64(5), object(9)
memory usage: 234.5+ KB

In [5]:
top_user_repos_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1537 entries, 0 to 1536
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1537 non-null   int64
 1   repo_name    1537 non-null   object
 2   full_name    1537 non-null   object
 3   description  1190 non-null   object
 4   created      1537 non-null   datetime64[ns]
 5   language     1284 non-null   object
 6   type         1537 non-null   object
 7   username     1537 non-null   object
 8   stars        1537 non-null   int64
 9   forks        1537 non-null   int64
 10  subscribers  1537 non-null   int64
 11  open_issues  1537 non-null   int64
 12  topics       1537 non-null   object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 156.2+ KB

In [6]:
top_org_repos_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6252 entries, 0 to 6251
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6252 non-null   int64
 1   repo_name    6252 non-null   object
 2   full_name    6252 non-null   object
 3   description  5696 non-null   object
 4   created      6252 non-null   datetime64[ns]
 5   language     5532 non-null   object
 6   type         6252 non-null   object
 7   username     6252 non-null   object
 8   stars        6252 non-null   int64
 9   forks        6252 non-null   int64
 10  subscribers  6252 non-null   int64
 11  open_issues  6252 non-null   int64
 12  topics       6252 non-null   object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 635.1+ KB

# Cleaned Data Summary

In [7]:
top_repos = pd.read_csv("../data/cleaned/top-repos.csv", parse_dates=["created"])
user_data = pd.read_csv("../data/cleaned/user-data.csv", parse_dates=["created"])
top_user_repos = pd.read_csv("../data/cleaned/top-user-repos.csv", parse_dates=["created"])
top_org_repos = pd.read_csv("../data/cleaned/top-org-repos.csv", parse_dates=["created"])
location_df = pd.read_csv("../data/cleaned/user-location-data.csv", parse_dates=["created"])

In [8]:
top_repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822 entries, 0 to 1821
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1822 non-null   int64
 1   repo_name    1822 non-null   object
 2   full_name    1822 non-null   object
 3   description  1798 non-null   object
 4   created      1822 non-null   datetime64[ns]
 5   language     1579 non-null   object
 6   type         1822 non-null   object
 7   username     1822 non-null   object
 8   stars        1822 non-null   int64
 9   forks        1822 non-null   int64
 10  subscribers  1822 non-null   int64
 11  open_issues  1822 non-null   int64
 12  topics       1134 non-null   object
 13  subject      1822 non-null   object
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 199.4+ KB

In [9]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1492 non-null   int64
 1   username      1492 non-null   object
 2   name          1344 non-null   object
 3   type          1492 non-null   object
 4   bio           963 non-null    object
 5   created       1492 non-null   datetime64[ns]
 6   company       570 non-null    object
 7   email         697 non-null    object
 8   location      964 non-null    object
 9   hireable      306 non-null    object
 10  followers     1492 non-null   int64
 11  following     1492 non-null   int64
 12  public_gists  1492 non-null   int64
 13  public_repos  1492 non-null   int64
 14  subject       1492 non-null   object
dtypes: datetime64[ns](1), int64(5), object(9)
memory usage: 175.0+ KB

In [10]:
top_user_repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1537 entries, 0 to 1536
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1537 non-null   int64
 1   repo_name    1537 non-null   object
 2   full_name    1537 non-null   object
 3   description  1190 non-null   object
 4   created      1537 non-null   datetime64[ns]
 5   language     1284 non-null   object
 6   type         1537 non-null   object
 7   username     1537 non-null   object
 8   stars        1537 non-null   int64
 9   forks        1537 non-null   int64
 10  subscribers  1537 non-null   int64
 11  open_issues  1537 non-null   int64
 12  topics       141 non-null    object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 156.2+ KB

In [11]:
top_org_repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6252 entries, 0 to 6251
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6252 non-null   int64
 1   repo_name    6252 non-null   object
 2   full_name    6252 non-null   object
 3   description  5696 non-null   object
 4   created      6252 non-null   datetime64[ns]
 5   language     5532 non-null   object
 6   type         6252 non-null   object
 7   username     6252 non-null   object
 8   stars        6252 non-null   int64
 9   forks        6252 non-null   int64
 10  subscribers  6252 non-null   int64
 11  open_issues  6252 non-null   int64
 12  topics       2809 non-null   object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 635.1+ KB

In [12]:
location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            921 non-null    int64
 1   username      921 non-null    object
 2   name          889 non-null    object
 3   type          921 non-null    object
 4   bio           681 non-null    object
 5   created       921 non-null    datetime64[ns]
 6   company       476 non-null    object
 7   email         525 non-null    object
 8   location      921 non-null    object
 9   hireable      246 non-null    object
 10  followers     921 non-null    int64
 11  following     921 non-null    int64
 12  public_gists  921 non-null    int64
 13  public_repos  921 non-null    int64
 14  subject       921 non-null    object
 15  geo-location  921 non-null    object
 16  latitude      921 non-null    float64
 17  longitude     921 non-null    float64
 18  country       921 non-null    object
 19  continent     921 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 144.0+ KB